.container {
  background-color: blueviolet;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: auto;
  height: auto;
}

.grid-item {
  width: 40px;
  height: 40px;
  background-color: burlywood;
  margin: 4px;
  text-align: center;
}
